@if (ViewBag.AvailableResults == 0)
{
    <row>
        <h4>Invalid location or no IT Companies exist in <b style="color: cornflowerblue">@ViewData["CityName"]</b></h4>
    </row>
}
else
{
    <row>
        <h2>IT Companies in <b style="color: cornflowerblue">@ViewData["CityName"]</b></h2>
    </row>
    <row>

        <table class=" table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>

            @foreach (var company in ViewBag.Companies)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Address</td>
                </tr>
            }
        </table>
    </row>
    <row>
        <div>
            <span class="pull-left">
                @if ((bool)ViewData["hasPreviousPage"])
                {
                    using (Html.BeginForm("SearchActionResult", "Home"))
                    {
                        <button type="submit" name="prevButton" id="prev" value="prev" class="btn btn-default">Prev</button>
                    }
                }
            </span>
            <span class="pull-right">
                @if ((bool)ViewData["isToken"])
                {
                    using (Html.BeginForm("SearchActionResult", "Home"))
                    {
                        <button type="submit" name="nextButton" id="next" value="next" class="btn btn-default">Next</button>
                    }

                }
            </span>
        </div>
    </row>
}









